/* Partials */

@import "normalize";
@import "fonts";
@import "colors";


/* Defaults */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
    @include lato-reg;
    box-sizing: border-box;
}

h1,
h2,
p,
span,
img {
    margin: 0;
    padding: 0;
}

h1,
p {
    color: white;
}

h1 {
    @include lato-bold;
    font-size: 1.8em;
    margin-bottom: 14px;
}

h2 {
    color: $blue;
}

p {
    @include lato-light;
    border-top: white 1px solid;
    padding-top: 26px;
    padding-bottom: 17px;
    font-size: 1.2em;
    line-height: 1.4em;
}

span {
    color: $grey;
}




/* Styles */

.wrapper {
    width: 100%;
    padding: 25px 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

.info {
    width: 157px;
    float: left;
    padding-right: 39px;
    text-align: right;
    position: relative;
    overflow: visible;

    span {
        font-size: .9em;
    }

    h2 {
        font-size: 3em;
    }

    .icon {
        display: block;
        height: 60px;
        width: 60px;
        position: absolute;
        background-color: HSLA(202, 59%, 50%, 1);
        border-radius: 50%;
        border: HSLA(202, 79%, 68%, 1) 9px solid;
        top: -9px;
        right: -35px;

        img {
            display: block;
            height: 24px;
            margin: 8px auto;
        }
    }
}

.border {
    width: 74%;
    float: left;
    border-left: $light-blue 10px solid;
    padding-left: 52px;
    padding-bottom: 15px;
    position: relative;
}

article {
    background-color: $blue;
    padding: 40px;
    border-radius: 4px;

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 20px 12.5px 0;
        border-color: transparent HSLA(202, 59%, 50%, 1) transparent transparent;
        position:absolute;
        top: 0;
        left: 32px;
    }
}