/* Partials */

@import "normalize";
@import "fonts";
@import "colors";


/* Defaults */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
    @include lato-reg;
    box-sizing: border-box;
}

h1,
h2,
p,
span,
img {
    margin: 0;
    padding: 0;
}

h1,
p {
    color: white;
}

h1 {
    @include lato-bold;
    font-size: 1.8em;
    margin-bottom: 14px;
}

h2 {
    color: $dark-blue;
}

p {
    @include lato-light;
    border-top: white 1px solid;
    padding-top: 26px;
    padding-bottom: 17px;
    font-size: 1.2em;
    line-height: 1.4em;
}

span {
    color: $grey;
}




/* Styles */

.wrapper {
    width: 100%;
    padding: 25px 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

.new {

    h2 {
        color: $blue;
    }

    article {
        background-color: $blue;

        &::before {
            border-color: transparent $blue transparent transparent;
        }
    }
}

.info {
    width: 157px;
    float: left;
    padding-right: 39px;
    text-align: right;
    position: relative;
    overflow: visible;

    span {
        font-size: .9em;
    }

    h2 {
        font-size: 3em;
    }

    .icon {
        display: block;
        height: 60px;
        width: 60px;
        position: absolute;
        background-color: $dark-blue;
        border-radius: 50%;
        border: $light-blue 9px solid;
        top: -9px;
        right: -35px;
        z-index: 99;

        img {
            display: block;
            height: 24px;
            margin: 8px auto;
        }
    }
}

.border {
    width: 74%;
    float: left;
    border-left: $light-blue 10px solid;
    padding-left: 52px;
    padding-bottom: 15px;
    position: relative;
}

article {
    background-color: $dark-blue;
    padding: 40px;
    border-radius: 4px;

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 13px 10px 0;
        border-color: transparent $dark-blue transparent transparent;
        position: absolute;
        top: 13px;
        left: 39px;
    }
}